.InsightFacade {
    position: relative;
  
    img {
      height: 100%;
      width: 100%;
      transition: filter 0.3s ease; /* Adding transition for the 'filter' property */
    }
  
    .Facade-Hidden {
      color: white;
      position: absolute;
      top: 45%;
      left: 33%;
      font-size: 24px;
      font-weight: bold;
      visibility: hidden;
      transition: visibility 0.3s ease, opacity 0.3s ease; /* Adding transitions for 'visibility' and 'opacity' */
      opacity: 0;
    }
  }
  
  .InsightFacade:hover {
    cursor: pointer;
  
    img {
      filter: brightness(70%);
      background-blend-mode: multiply;
    }
  
    .Facade-Hidden {
      visibility: visible;
      opacity: 1;
    }
  }
  
@media (max-width:800px) {
    .Facade-Hidden {
      left: 28% !important;
    }
}

@media (max-width:650px) {
  .Facade-Hidden {
    left: 28% !important;
    top: 45% !important;
    font-size: 20px !important;
  }
}

@media (max-width:600px) {
  .Facade-Hidden {
    left: 33% !important;
    top: 45% !important;
    font-size: 28px !important;
  }
}