.InsightFacade {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      transition: filter 0.3s ease; /* Adding transition for the 'filter' property */
    }
  
    .Facade-Hidden {
      color: white;
      position: absolute;
      
      // top:50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      font-size: 26px;
      padding: 10px;
      font-weight: bold;
      visibility: hidden;
      transition: visibility 0.3s ease, opacity 0.3s ease; /* Adding transitions for 'visibility' and 'opacity' */
      opacity: 0;
    }
  }
  
  .InsightFacade:hover {
    cursor: pointer;
  
    img {
      filter: brightness(70%);
      background-blend-mode: multiply;
    }
  
    .Facade-Hidden {
      visibility: visible;
      opacity: 1;
    }
  }
  
@media (max-width:800px) {
    
}

