.ReviewsComponent{
    margin: 0;
    padding: 0;
    background: rgb(36,159,184);
    //#231557 0%,
    //#0959a3 29%,
    //#05d9ff 67%,
    //#12deda 100%
    background: linear-gradient(90deg, #05d9ff 0%,#0a459e 50% ,#0543a0 50% ,#231557 100%, #05d9ff 100%);
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    

    .Reviews-Top{
        color: white;
        font-family:'Rubik', sans-serif;
        margin: 20px 0;
        h1{
            font-weight: bold;
        }
    }
    .Reviews-Bottom{
        width: 90%;
    }
    
}