$Text-Color: #2d0e6b;

.ViewProject{
    margin-bottom: 50px;
    .ViewProject-Top{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .ViewProject-Top-Wrapper{
            width: 70%;
            .Top-Labels{
                h1{
                    font-size: 64px;
                    margin-bottom: 0;
                    color: white;
                }
                h3{
                    margin-top: 0;
                    font-size: 36px;
                    color: white;
                    font-weight: 200;
                }
            }
        }
    }
    .ViewProject-Main{
        display: flex;
        justify-content: center;
        align-items: center;
        .ViewProject-Wrapper{
            width: 80%;
            .ViewProject-Details{
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Details-Left{
                    h1{
                        font-size: 32px;
                    }
                    h3{
                        font-size: 20px;
                    }
                }
                .Details-Right{
                    margin-left: 50px;
                    span{
                        h3{
                            font-size: 24px;
                        }
                        h4{
                            font-size: 20px;
                        }
                    }
                }
            }
            .ViewProject-Insight{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
                .Insight-Challenge{
                    h3{
                        font-size: 24px;
                    }
                    h4{
                        font-size: 20px;
                    }
                }
                .Insight-WhatWeDid{
                    h3{
                        font-size: 24px;
                    }
                    h4{
                        font-size: 20px;
                    }
                }
            }
            .ViewProject-Tags{
                h1{
                    font-size: 24px;
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    .Tag{
                        align-items: center;
                        .CircleIcon{
                            color: $Text-Color;
                        }
                        h4{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-left: 5px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.Title{
    color: $Text-Color;
}

.Sub{
    font-weight: 200;
    color: #3a3939;
}

@media (max-width: 700px) {
    .ViewProject-Main{
        display: flex;
        justify-content: center;
        align-items: center;
        .ViewProject-Wrapper{
            width: 80%;
            .ViewProject-Details{
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Details-Left{
                    h1{
                        font-size: 28px !important;
                    }
                    h3{
                        font-size: 18px !important;
                    }
                }
                .Details-Right{
                    margin-left: 50px;
                    span{
                        h3{
                            font-size: 22px !important;
                        }
                        h4{
                            font-size: 16px !important;
                        }
                    }
                }
            }
            .ViewProject-Insight{
                grid-template-columns: 1fr !important;
                row-gap: 20px;
                .Insight-Challenge{
                    h3{
                        font-size: 22px !important;
                    }
                    h4{
                        font-size: 16px !important;
                    }
                }
                .Insight-WhatWeDid{
                    margin-bottom: 20px;
                    h3{
                        font-size: 22px !important;
                    }
                    h4{
                        font-size: 16px !important;
                    }
                }
            }
            .ViewProject-Tags{
                h1{
                    font-size: 20px !important;
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
                    .Tag{
                        align-items: center;
                        .CircleIcon{
                            color: $Text-Color;
                        }
                        h4{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0;
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .ViewProject-Main{
        display: flex;
        justify-content: center;
        align-items: center;
        .ViewProject-Wrapper{
            width: 90% !important;
            .ViewProject-Details{
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Details-Left{
                    h1{
                        font-size: 24px !important;
                    }
                    h3{
                        font-size: 14px !important;
                    }
                }
                .Details-Right{
                    margin-left: 50px;
                    span{
                        h3{
                            font-size: 20px !important;
                        }
                        h4{
                            font-size: 14px !important;
                        }
                    }
                }
            }
            .ViewProject-Insight{
                grid-template-columns: 1fr !important;
                row-gap: 20px;
                .Insight-Challenge{
                    h3{
                        font-size: 20px !important;
                    }
                    h4{
                        font-size: 14px !important;
                    }
                }
                .Insight-WhatWeDid{
                    margin-bottom: 20px;
                    h3{
                        font-size: 20px !important;
                    }
                    h4{
                        font-size: 14px !important;
                    }
                }
            }
            .ViewProject-Tags{
                h1{
                    font-size: 18px !important;
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr !important;
                    .Tag{
                        align-items: center;
                        .CircleIcon{
                            color: $Text-Color;
                        }
                        h4{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0;
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }
}