.DashboardScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Dashboard-Main{
        width: 100%;
        background-image: url("https://sweeftdigital.com/assets/updatedDesignDec21/heros/services-hero.svg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        .Main-Wrapper{
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .Main-Left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    color: white;
                    font-size: 76px;
                    line-height: 80px;
                    margin-bottom: 0;
                    font-family: 'Anton', sans-serif;
                }
                h4{
                    color: greenyellow;
                    font-size: 16px;
                }
            }
            .Main-Right{
                width: 600px;
                h2{
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
    .Dashboard-Wrapper{
        width: 90%;
        .Dashboard-Label{
            h1{
                text-align: center;
                font-weight: bold;
                margin: 20px 0;
            }
        }
        .Dashboard-Services{
            .Services-Previews{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                row-gap: 10px;
            }
        }
        .Dashboard-Projects{
            .Projects-Previews{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                row-gap: 10px;
            }
        }
        .Dashboard-Insights{
            .Insights-Previews{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                row-gap: 10px;
            }
        }
        .Dashboard-Reviews{
            .Reviews-Previews{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                row-gap: 10px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .Dashboard-Services{
        .Services-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Projects{
        .Projects-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Insights{
        .Insights-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Reviews{
        .Reviews-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            row-gap: 10px;
        }
    }
}

@media (max-width: 700px) {
    .Dashboard-Services{
        .Services-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Projects{
        .Projects-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Insights{
        .Insights-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Reviews{
        .Reviews-Previews{
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            row-gap: 10px;
        }
    }
}

@media (max-width: 500px) {
    .Dashboard-Services{
        .Services-Previews{
            display: grid;
            grid-template-columns: 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Projects{
        .Projects-Previews{
            display: grid;
            grid-template-columns: 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Insights{
        .Insights-Previews{
            display: grid;
            grid-template-columns: 1fr !important;
            row-gap: 10px;
        }
    }
    .Dashboard-Reviews{
        .Reviews-Previews{
            display: grid;
            grid-template-columns: 1fr !important;
            row-gap: 10px;
        }
    }
}