.LoginScreen{
    height: 100vh;
    background-image: url("https://sweeftdigital.com/assets/updatedDesign/images/blogtest.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .LoginScreen-Wrapper{
        width: 80%;
        display: flex;
        justify-content: space-around;
        .Login-Left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                height: 192px;
                max-width: min-content;
            }
        }
        .Login-Right{
            background-color: white;
            display: flex;
            justify-content: center;
            // align-items: center;
            border-radius: 15px;
            height: 350px;

            .Right-Wrapper{
                width: 90%;
                height: 95%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h2{
                font-size: 24px;
                margin: 0;
                font-weight: bold;
            }
            h3{
                margin-top: 5px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width:1000px) {
    .LoginScreen-Wrapper{
        flex-direction: column !important;
        width: 90% !important;
        .Login-Left{
            display: flex;
            flex-direction: row !important;
            justify-content: center !important;
        }
    }
}