.ServicesScreen{
    // margin: 0;
    // padding: 0;
    // height: 400px;
    .Services-Main{
        background-image: url("https://sweeftdigital.com/assets/updatedDesignDec21/heros/services-hero.svg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        .Main-Wrapper{
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .Main-Left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    color: white;
                    font-size: 76px;
                    line-height: 80px;
                    margin-bottom: 0;
                    font-family: 'Anton', sans-serif;
                }
                h4{
                    color: greenyellow;
                    font-size: 16px;
                }
            }
            .Main-Right{
                width: 600px;
                h2{
                    color: white;
                    font-weight: 400;
                }
            }
        }
    }
    .Services-Services{
        display: flex;
        justify-content: center;
        align-items: center;
        .Services-Wrapper{
            width: 80%;
            display: flex;
            flex-direction: column;
            .Services-Label{
                display: flex;
                justify-content: center;
                h1{
                    font-size: 48px;
                    margin: 30px 0;
                    font-weight: bold;
                }
            }
            .Services-List{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 15px;
                column-gap: 15px;
            }
        }
        margin-bottom: 50px;
    }
}


@media (max-width:1300px){
        .Main-Left{
            h1{
                font-size: 64px !important;
                line-height: 64px !important;
                margin-bottom: 0;
            }
            h4{
                color: greenyellow;
                font-size: 16px;
            }
        }
        .Main-Right{
            width: 450px !important;
            h2{
                color: white;
                font-weight: 400;
                font-size: 20px !important;
            }
        }
}

@media (max-width:1000px){
    .Main-Left{
        h1{
            font-size: 56px !important;
            line-height: 56px !important;
            margin-bottom: 0;
        }
        h4{
            color: greenyellow;
            font-size: 12px !important;
        }
    }
    .Main-Right{
        width: 400px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 20px !important;
        }
    }
}

@media (max-width: 800px){
    .Main-Left{
        h1{
            font-size: 48px !important;
            line-height: 48px !important;
            margin-bottom: 10px !important;
        }
        h4{
            color: greenyellow;
            font-size: 10px !important;
        }
    }
    .Main-Right{
        width: 300px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 16px !important;
        }
    }
    .Services-List{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        row-gap: 15px;
        column-gap: 15px;
    }
}

@media (max-width: 600px){
    .Main-Left{
        h1{
            font-size: 40px !important;
            line-height: 40px !important;
            margin-bottom: 0;
        }
        h4{
            color: greenyellow;
            font-size: 10px !important;
        }
    }
    .Main-Right{
        width: 200px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 10px !important;
        }
    }
    .Services-Main{
        height: 350px !important;
    }
    .Services-List{
        display: grid;
        grid-template-columns: 1fr !important;
        row-gap: 20px !important;
        column-gap: 15px;
    }
    .Services-Label{
        h1{
            font-size: 32px !important;
            margin: 25px 0 !important;
        }
    }
}

@media (max-width: 550px){
    .Main-Left{
        h1{
            font-size: 36px !important;
            line-height: 32px !important;
            margin-bottom: 0;
        }
        h4{
            color: greenyellow;
            font-size: 10px !important;
        }
    }
    .Main-Right{
        width: 170px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 8px !important;
        }
    }
    .Services-Main{
        height: 350px !important;
    }
}

@media (max-width: 500px){
    .Main-Left{
        h1{
            font-size: 36px !important;
            line-height: 32px !important;
            margin-bottom: 0;
        }
        h4{
            color: greenyellow;
            font-size: 10px !important;
        }
    }
    .Main-Right{
        width: 150px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 10px !important;
        }
    }
    .Services-Main{
        height: 300px !important;
    }
}

@media (max-width: 500px){
    .Main-Left{
        h1{
            font-size: 32px !important;
            line-height: 30px !important;
            margin-bottom: 0;
        }
        h4{
            color: greenyellow;
            font-size: 10px !important;
        }
    }
    .Main-Right{
        width: 110px !important;
        h2{
            color: white;
            font-weight: 400;
            font-size: 8px !important;
        }
    }
    .Services-Main{
        height: 225px !important;
    }
}