$text-purple : #170738;
$offset-white: rgb(230, 230, 230);

.Home{
    .Home-Image{
        height: 100vh;
        z-index: -1000;
        
        video{
          height: 100%;
          width: 100%;
          object-fit: cover; /* Ensures the video covers the entire container */
          overflow: hidden; /* Hides any content outside the video container */
          margin: 0; /* Removes default margins */
          padding: 0; /* Removes default paddings */
        }
        .Home-Labels{
          position: absolute !important;
            color: white;
            
            left: 20%;
            top: 50%;
            transform: translate(-20%,-50%);

            .HomeLabels-Main{
                h1{
                    font-size: 120px;
                    font-family: 'Anton', sans-serif !important;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 114px;
                }
            }
            .HomeLabels-Description{
              margin-bottom: 0;
              h2{
                font-size: 24px;
                margin: 5px 0 10px 0;
                color: $offset-white;
                font-family: 'Oswold', sans-serif;
                font-weight: bold;
              }
            }
        }
        .Home-Button{
          width: 100%;
          position: absolute;
          bottom: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          img{
            height: 96px;
            
          }
        }
    }
    .Home-Description{
      display: flex;
      justify-content: center;
      height: 600px;
      align-items: center;
      .Description-Wrapper{
        width: 80%;
        .Wrapper-Top{
          .Top-SubTitle{
            font-size: 20px;
            color: #45367c;
            font-weight: bold;
          }
          .Top-Title{
            font-size: 48px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            line-height: 60px;
            color: $text-purple;
            margin-bottom: 40px;

            .Title-Special{
              font-size: 64px;
              // stroke: 1px solid $text-purple;
              -webkit-text-stroke: 2px $text-purple;
              color: rgb(233, 233, 233);
              transition: color 0.3s ease;
            }
            .Title-Special:hover {
              color: #45367c !important; /* Apply the hover effect color directly */
              cursor: pointer;
            }
          }
        }
        .Wrapper-Bottom{
          border-top: 2px solid $text-purple;
          font-size: 20px;
          font-family:Georgia, 'Times New Roman', Times, serif;
          color: #424242;
          font-weight: bold;
          word-spacing: 1px;
        }
      }
    }
    .Home-Services{
      margin: 20px 0;
      height: 400px;
      display: flex;
      justify-content: center;
      .Services-Wrapper{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .Wrapper-Top{
          h3{
            font-size: 36px;
            margin-bottom: 5px;
            font-weight: bold;
          }
          h4{
            margin-top: 0;
            font-size: 20px;
          }
        }
        .Wrapper-Bottom{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          row-gap: 10px;
        }
      }
    }
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #0959a3 29%,
    #05d9ff 67%,
    #12deda 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-weight: 500;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Styles for the button */
.fill-button-main {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: 3px solid #3498db;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 48px; 
}

/* Pseudo-element for the fill effect */
.fill-button-main::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12deda;
  opacity: 0; /* Initially set the opacity to 0 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for opacity and transform */
  transform-origin: bottom;
  transform: scaleY(0);
  z-index: -1;
}

/* Hover effect to increase pseudo-element's height and change opacity */
.fill-button-main:hover::before {
  opacity: 1; /* Make the pseudo-element fully visible */
  transform: scaleY(1);
}
.fill-button-main:hover{
  color: #45367c !important;
}

@media (max-width:1350px) {
  .Home-Labels{
    .HomeLabels-Main{
        line-height: 100px;
        h1{
            font-size: 100px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 95px !important;
        }
    }
    .HomeLabels-Description{
      font-size: 30px !important;
      margin-bottom: 0;
      h2{
        font-size: 22px !important;
        margin-bottom: 20px;
      }
    }
}
}

@media (max-width:1100px) {
  .Home-Labels{
    .HomeLabels-Main{
      line-height: 80px !important;

        h1{
            font-size: 100px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .HomeLabels-Description{
      font-size: 28px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
      }
    }
}
}

@media (max-width:950px) {
  .Home-Labels{
    .HomeLabels-Main{
        line-height: 80px !important;
        h1{
            font-size: 96px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .HomeLabels-Description{
      font-size: 24px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
      }
    }
  }
  .Home-Services{
    margin: 20px 0;
    height: 400px;
    display: flex;
    justify-content: center;
    .Services-Wrapper{
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .Wrapper-Top{
        margin: 25px 0;
        h3{
          font-size: 36px;
          margin-bottom: 5px;
          font-weight: bold;
        }
        h4{
          margin-top: 0;
          font-size: 20px;
        }
      }
      .Wrapper-Bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
      }
    }
  }
}

@media (max-width:850px) {
  .Home-Labels{
    .HomeLabels-Main{
        h1{
            font-size: 96px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .HomeLabels-Description{
      font-size: 20px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
      }
    }
}
}

@media (max-width:750px) {
  .Home-Labels{
    .HomeLabels-Main{
        h1{
            font-size: 96px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .HomeLabels-Description{
      font-size: 16px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
      }
    }
}
}

@media (max-width:650px) {
  .Home-Labels{
    left: 25% !important;
    .HomeLabels-Main{
      line-height: 40px !important;
        h1{
            font-size: 96px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 95px !important;
        }
    }
    .HomeLabels-Description{
      font-size: 12px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
      }
    }
    .HomeLabels-ContactUs{
      height: 60px !important;
      width: 120px !important;
    }
}
.Home-Description{
  height: 750px !important;
}

.Home-Services{
  height: fit-content !important;
  margin-bottom: 20px !important;
  .Wrapper-Bottom{
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}

}

@media (max-width:550px) {
  .Home-Labels{
    .HomeLabels-Main{
      line-height: 35px !important;
        h1{
            font-size: 72px !important;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 72px !important;
        }
    }
    .HomeLabels-Description{
      font-size: 12px !important;
      margin-bottom: 0;
      h2{
        margin-bottom: 20px;
        font-size: 14px !important;
      }
    }
    .HomeLabels-ContactUs{
      height: 50px !important;
      width: 100px !important;
    }
}
}

@media (max-width:500px) {
.Home-Description{
  height: 1000px !important;
}
}

@media (max-width:450px) {
  
}