$Background-Color : #f0f0f0;
$Hover-Background-Color: hsl(0, 0%, 85%);
$Text-Color: #170738;


.ProjectPreview{
        background-color: $Background-Color;
        transition: background-color 0.3s ease;
        color: $Text-Color;
        display: flex;
        justify-content: center;
        height: 275px;
        align-items: center;
        border-radius: 20px;
        width: 98%;
        .ProjectPreview-Wrapper{
            width: 85%;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
            .ProjectPreview-Top{
                height: 32px;
                width: 32px;
            }
        }
}
.ProjectPreview:hover{
    background-color: $Hover-Background-Color;
    cursor: pointer;
}