$Background-Color : #f7f6fb;
$Hover-Background-Color: hsl(0, 0%, 93%);
$Text-Color: #170738;
$Tag-Color: #462e75;

.ServiceFacade{
    background-color: $Background-Color;
    transition: background-color 0.3s ease;
    color: $Text-Color;
    display: flex;
    justify-content: center;
    height: 310px;
    align-items: center;
    border-radius: 20px;
    .ServiceFacade-Wrapper{
        width: 80%;
        max-height: 85%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .ServiceFacade-Top{
        }
        .ServiceFacade-Title{
            font-size: 24px;
        }
        .ServiceFacade-Description{
            // margin-bottom: 5px;
        }
        .ServiceFacade-Tags{
            h4{
                color: $Tag-Color;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

.ServiceFacade:hover{
    background-color: $Hover-Background-Color;
    cursor: pointer;
}

@media (max-width: 450px) {
    .ServiceFacade{
        height: 330px !important;
        .ServiceFacade-Wrapper{
            width: 85% !important;
            max-height: 80% !important;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            .ServiceFacade-Top{
            }
            .ServiceFacade-Title{
                font-size: 24px;
            }
            .ServiceFacade-Description{
                // margin-bottom: 5px;
            }
            .ServiceFacade-Tags{
                h4{
                    color: $Tag-Color;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .ServiceFacade{
        height: 275px;
    }
    
    .ServiceFacade-Title{
        font-size: 18px !important;
        h3,h4{
            margin-top: 30px !important;
            margin-bottom: 5px;

        }
    }
    .ServiceFacade-Description{
        // margin-bottom: 5px;
        p{
            font-size: 16px !important;
        }
    }
    .ServiceFacade-Tags{
        h4{
            font-size: 14px !important;
            color: $Tag-Color;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}