$Background-Color : #f7f6fb;
$Hover-Background-Color: hsl(0, 0%, 93%);
$Text-Color: #170738;
$Tag-Color: #462e75;

.ServiceFacade{
    background-color: $Background-Color;
    transition: background-color 0.3s ease;
    color: $Text-Color;
    display: flex;
    justify-content: center;
    height: 310px;
    align-items: center;
    border-radius: 20px;
    // width: 95%;
    .ServiceFacade-Wrapper{
        width: 80%;
        
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ServiceFacade-Top{
            height: 48px;
            width: 48px;
        }
        .ServiceFacade-Title{
            font-size: 24px;
            h3,h4{
                margin-top: 20px;
                margin-bottom: 5px;

            }
        }
        .ServiceFacade-Description{
            // margin-bottom: 5px;
        }
        .ServiceFacade-Tags{
            h4{
                color: $Tag-Color;
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
            }
        }
    }
}

.ServiceFacade:hover{
    background-color: $Hover-Background-Color;
    cursor: pointer;
}

@media (max-width: 450px) {
    .ServiceFacade{
        height: 275px;
    }
    .ServiceFacade-Top{
        height: 40px !important;
        width: 40px !important;
    }
    .ServiceFacade-Title{
        font-size: 20px !important;
        h3,h4{
            margin-top: 15px !important;
            margin-bottom: 5px;

        }
    }
    .ServiceFacade-Description{
        // margin-bottom: 5px;
        p{
            font-size: 16px !important;
        }
    }
    .ServiceFacade-Tags{
        h4{
            font-size: 14px !important;
            color: $Tag-Color;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}

@media (max-width: 400px) {
    .ServiceFacade{
        height: 275px;
    }
    .ServiceFacade-Top{
        height: 36px !important;
        width: 36px !important;
    }
    .ServiceFacade-Title{
        font-size: 18px !important;
        h3,h4{
            margin-top: 30px !important;
            margin-bottom: 5px;

        }
    }
    .ServiceFacade-Description{
        // margin-bottom: 5px;
        p{
            font-size: 16px !important;
        }
    }
    .ServiceFacade-Tags{
        h4{
            font-size: 14px !important;
            color: $Tag-Color;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}